In [27]:
## merge subject ids in the test set with demographic info.

import pandas as pd
import os
import re

input_file = 'adni_out01_time_signal_test_train_split/test_set_roi_signals.csv'
input_file2 = 'adni_subject_info/MRI_information_All_Measurement.csv'
output_dir = 'adni_out02_test_subject_info'

file_test = pd.read_csv(input_file, header = None)
file_test = file_test[0].tolist()
subject_test = set()

subject_id = []
ses_id = []
for f in file_test:
    subject_id += [re.search('(.*)_sub-(.*)-ses-(.*).txt', f).group(2)]
    ses_id +=  [re.search('(.*)_sub-(.*)-ses-(.*).txt', f).group(3)]

subject_info = pd.DataFrame({'subject_id': subject_id, 'ses_id': ses_id})

In [48]:
demographic_data = pd.read_csv(input_file2)
g = demographic_data.groupby(['PTID']).first().reset_index()
df_merge = subject_info.merge(g[['PTID', 'AGE', 'PTGENDER', 'DX_bl', 'DX']], how = 'left', 
                              left_on = 'subject_id', right_on = 'PTID').drop(columns = 'PTID')
df_merge

     subject_id                 ses_id   AGE PTGENDER DX_bl    DX
0    002_S_0295  2012-05-10_15_42_37.0  84.8     Male    CN    CN
1    002_S_0413  2017-06-21_13_23_38.0  76.3   Female    CN    CN
2    002_S_0685  2011-07-08_07_04_27.0  89.6   Female    CN    CN
3    002_S_0729  2012-08-07_07_21_09.0  65.1   Female  LMCI  LMCI
4    002_S_1155  2017-04-24_13_21_32.0  57.8     Male  LMCI  LMCI
..          ...                    ...   ...      ...   ...   ...
324  941_S_4100  2017-10-27_11_05_51.0  78.5   Female    CN    CN
325  941_S_4187  2017-06-05_14_05_55.0  62.0     Male  LMCI  LMCI
326  941_S_4292  2017-08-21_15_05_09.0  70.9     Male    CN    CN
327  941_S_4365  2017-08-28_14_06_46.0  80.3     Male    CN    CN
328  941_S_5193  2017-06-09_12_40_54.0  72.5   Female   SMC   SMC

[329 rows x 6 columns]

In [50]:
if not os.path.isdir(output_dir):
    os.mkdir(output_dir)

df_merge.to_csv(output_dir + '/subject_info_merge.csv')